@import "../helper/mixins";
@import "../helper/variables";
@import "../helper/text";

body {
    position: relative;

    @media (min-width: $breakpoint-md) {
        nav.off-canvas-nav {
            display: none;
        }
    }

    @media (max-width: $breakpoint-md) {

        nav.off-canvas-nav {
            display: flex;
            flex-direction: column;
            gap: 4rem;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: $primaryelementcolor;
            opacity: 0;
            pointer-events: none;
            z-index: 1000;
            transition: 1s;
            overflow-y: hidden;
            overflow-x: hidden;

            figure {
                display: inline-flex;
                justify-content: center;
                margin-top: 4rem;

                img {
                    max-width: 30%;
                }
            }

            ul.small-submenu {
                display: inline-flex;
                flex-direction: column;
                text-align: center;
                text-transform: capitalize;

                li {
                    transition: .5s;

                    a {
                        @include font(2rem, 200, 4rem, $secondarytextcolor);
                        @include uppercase();
                        transition: .5s;

                        &:hover {
                            color: $primarytextcolor;
                        }

                        &:active {
                            color: $textgray;
                        }
                    }
                }
            }

            ul.small-topmenu {
                display: flex;
                justify-content: center;
                flex-direction: column;

                li {
                    text-align: center;
                    align-self: center;
                    @include uppercase();

                    a, p {
                        @include font(1.5rem, 200, auto, $primarytextcolor);
                    }

                    &.icons {
                        ul {
                            li {
                                a {
                                    img {
                                        width: 1.5rem;
                                        height: 1.5rem;
                                    }
                                }
                            }
                        }
                    }

                    &.translate {
                        p {
                            color: $secondarytextcolor;

                            abbr {
                                @include font(1.4rem, 200, 2.8rem, $primarytextcolor);
                                text-decoration: none;
                                cursor: pointer;

                                &:first-of-type {
                                    padding-right: .5rem;
                                }

                                &:last-of-type {
                                    color: $textgray;
                                    padding-left: .5rem;
                                }
                            }
                        }
                    }

                    &.search {
                        width: 20rem;
                        background-color: $primaryelementcolor;
                        border: 1px solid $tertiaryelementcolor;
                        border-radius: 15px;
                        transition: .5s;
                        margin-top: 1rem;

                        a.search-icon {
                            display: block;
                            height: 100%;
                            width: 100%;
                            transition: .5s;
                            border-radius: 15px;

                            img {
                                width: 3rem;
                                height: 100%;
                            }

                            &:hover {
                                background-color: $backgroundgray;
                                border-radius: 15px;
                            }
                        }
                    }
                }
            }

            &.active {
                opacity: 1;
                pointer-events: auto;
                animation: hamburgermenuanimatie 1s;
            }
        }
    }
}

@keyframes hamburgermenuanimatie {
    0% {
        transform: scale(0);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}