// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;

// colors

// text colors

$primarytextcolor: #000000;
$secondarytextcolor: #E30917;
$tertiarytextcolor: #FFFFFF;
$textgray: #989898;

// backgrounds + other elements

$primaryelementcolor: #FFFFFF;
$secondaryelementcolor: #E30917;
$tertiaryelementcolor: #000000;
$backgroundgray: #ededed;
